* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
}
  
button, input[type="text"] {
    padding: 5px;
}
  
button:hover {
    cursor: pointer;
}
  
button:hover:disabled {
    cursor: default;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    border-style: solid;
}

.bookmarks-list {
    list-style: none;
    padding-left: 0;
}
  
.bookmarks-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
}