* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

button:hover:disabled {
    cursor: default;
}

.hidden {
    display: none;
}

.container {
    max-width: 600px;
    min-width: 250px;
    margin: 0 auto;
    background-color: rgb(248, 245, 245);
}

.bookmarks-list {
    list-style: none;
    padding-left: 0;
}

.bookmarks-list > li {
    margin-bottom: 10px;
    border: 1px solid grey;
    padding: 0px;
}

.star {
    color : #CCC;
}

.star-check {
    color : #000000;
}

.title-bar {
    margin: -1px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    color: white;
    background-color: black;
}

.star-rating{
    padding-top: 5px;
}

.card {
    position:relative;
    width:100%;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    background-color: white;
}

.card-button {
    color: white;
    background-color: black;
    border:none;
}

.bookmark-description{
    
    width:66%;
}

.bookmark-controls {
    float: right;
    height:100%;

    
}

.modal{
    position:fixed;
    z-index:1;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    min-width: 245px;
    max-width: 500px;
    padding:10px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.15);
}

.modal-cancel-button{
    display:inline;
    float:right;
}

.add-bookmark{
    position: absolute;
    right: 20%;
    height: 6rem;
    width: 6rem;
    background-color: rgb(135, 211, 135);
    color: white;
    border-radius: 50%;
    border: none;
    display: inline-block;
    font-size: 4.2rem;
    z-index: 2;
}



.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #000000;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #a19f98;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #474747;
}